<script type="text/javascript">
    $(document).ready(function () {
        ifFollowing();
    });
    function ifFollowing() {
        var current_username = "{{ current_user.username }}";
        var org_slug = "{{ organization['org_slug'] }}";
        if (current_username == org_slug) {
            $('.follow').css('display', 'none');
        }


    }
    function follow() {
        var action = $('.follow').text().toLowerCase();
        if (action == 'follow') {
            var post_result = $.post('{{ url_for('organization.follow', organization_slug=organization['org_slug'], action="follow")}}');
            $('.follow').text('Unfollow');
        }
        else if (action == 'unfollow') {
            var post_result = $.post('{{ url_for('organization.follow',organization_slug=organization['org_slug'], action="unfollow")}}');
            $('.follow').text('Follow');
        }

    }

    function ask_to_join() {
        var action = $('.ask-to-join').text().toLowerCase();
        var ask_to_join_request = $.post('{{ url_for('organization.ask_to_join', organization_slug=organization['org_slug'], username=current_user.username, action="ask_to_join")}}');
        location.reload();
    }


    function cancel(username) {
        var post_url = "{{ url_for('organization.remove_member', organization_slug = organization['org_slug'] , username=current_user.username) }}";
        $.post(post_url, function () {
        }).done(function () {

        }).fail(function () {
            alert("Something went wrong. Please try again!");
        });
    }

    function mailToHref() {
        var hrefMAilTo = "mailto:?subject= Find out {{ organization['name']}}'s profile &BODY=I found this organization profile interesting and thought of sharing it with you. Check it out:" + window.location.href;
        $("#mail-to").attr("href", hrefMAilTo);
    }
    mailToHref();

</script>

<!-- Banner part at Feed/About/Article Pages-->

<div id="profile" class="row">
    <div class="col-md-10 col-md-offset-1">
        <i id="share-org" class="fa fa-share-alt" data-toggle="popover" content="#share-org-profile"></i>
        <div class="col-md-12 col-xs-6">
            <form id="share-org-profile" class="hidden">
                <ul class="popover-list">
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u=&t=" class="fa fa-facebook"
                           target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' +
                                    encodeURIComponent(document.URL) + '&t='
                                    + encodeURIComponent(document.title)); return false;"></a></li>
                    <li><a href="https://twitter.com/intent/tweet?source=&amp;text=:%20"
                           class="fa fa-twitter" target="_blank" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title)
                                   + ':%20'  + encodeURIComponent(document.URL)); return false;"></a></li>

                    <li><a href="https://plus.google.com/share?url=" class="fa fa-google-plus"
                           target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url='
                                   + encodeURIComponent(document.URL)); return false;"></a></li>
                    <li><a id="mail-to" href="" class="fa fa-at" onclick=mailToHref(); target="_blank">
                    </a></li>
                </ul>
            </form>
        </div>
        <img src="{{ url_for('static', filename = 'img/banner.png') }}" class="banner">
        <div class="box">
            <img src="{{ url_for('static', filename = 'img/prof3.png') }}" class="img-circle user-pic">
            <span class="user-name">{{ organization.name }}</span>
            {% if current_user.is_authenticated %}
                {% if not current_user.username in organization.administrator %}
                    {% if current_user.username not in organization.followers %}
                        <button type="button" class="follow pull-right" onclick="follow()">Follow</button>
                    {% else %}
                        <button type="button" class="follow pull-right" onclick="follow()">Unfollow</button>
                    {% endif %}
                    {% if is_member.members %}
                        {% if is_member.members.0.status == 'pending' %}

                            <button type="button" style="background-color:#e3852d;"
                                    class="ask-to-join pull-right cancel"
                                    onclick="cancel('{{ current_user.username }}')">
                                Awaiting
                                approval
                            </button>
                        {% elif is_member.members.0.status == 'member' %}

                            <button type="button" style="background-color:#349946;"
                                    class="ask-to-join pull-right cancel"
                                    onclick="cancel('{{ current_user.username }}')">{{ is_member.members.0.status | capitalize }}
                            </button>

                        {% endif %}
                    {% else %}
                        {% if not current_user.organization|length > 0 %}
                            <button type="button" class="ask-to-join pull-right" onclick="ask_to_join()">Ask
                                to join
                            </button>
                        {% endif %}
                    {% endif %}

                {% endif %}
            {% else %}
                <button type="button" class="follow pull-right" onclick="{{ url_for('auth.sign_up') }}">Follow
                </button>
                <button type="button" class="ask-to-join pull-right" onclick="{{ url_for('auth.sign_up') }}">Ask
                    to join
                </button>
            {% endif %}
        </div>

    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('.cancel').click(function (event) {
            event.preventDefault();
            var url = this.href;
            swal({
                        title: "Are you sure?",
                        text: "You are leaving this organization!",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonText: "Yes",
                        confirmButtonColor: "#DD6B55",
                        cancelButtonText: "Cancel",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    },

                    function (isConfirm) {
                        if (isConfirm) {
                            swal({
                                title: '',
                                text: 'You left this organization!',
                                type: 'success'
                            }, function () {
                                location.reload();
                            });


                        } else {
                            swal("Cancelled", ":)", "error");
                        }
                    });
        });
    });
</script>
