{% extends "layout.html" %}
{% block body %}
    <section>
        <div class="row">
            {% if verified %}

                <form class="form-group" method="post" action="{{ url_for('auth.new_password') }}">

                    <div class="col-md-6 col-md-offset-3">
                        <input name="password" type="password" class="form-control"
                               placeholder="Password">
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <input name="password_confirm" type="password" class="form-control"
                               placeholder="Confirm password">
                    </div>
                        <input name="token" type="text" value="{{ token }}" hidden>
                    <div class="col-md-4 col-md-offset-4">
                        <button type="submit" class="btn btn-green">Change</button>
                    </div>
                </form>
            {% endif %}
        </div>
        <div class="row">
            {% if msg %}
                <div style="color:red;font-size:18px;">   {{ msg }}</div>
            {% endif %}
        </div>
    </section>
{% endblock %}