{% extends "layout.html" %}
{% block body %}
    <section>
        <div class="row"><br>
            <form id="log-in" method="post" action="{{ url_for('auth.reset_password') }}">
                <br/><br/><br/><br/><br/><br/><br/><br/>
                <div class="col-md-6 col-md-offset-2 text-center">
                    <input name="email" type="email" class="form-control" align="middle" id="email-login"
                           placeholder="Email">
                </div>
                <div class="col-md-2 text-center">
                    <button type="submit" class="btn">Reset</button>
                </div>

            </form>
            <div class="row">
                {% if msg %}
                    <div style="color:red;">   {{ msg }}</div>
                {% endif %}
            </div>
            <br/><br/>

            <br/><br/><br/><br/><br/><br/><br/><br/>
        </div>
    </section>
{% endblock %}