{% extends "layout.html" %}
{% block body %}
    <div class="following profile-feed">

        <div class="row menu-icons">
            <br/><br/><br/>
            <div class="col-md-1 col-md-offset-1 col-sm-1 col-xs-1 text-center">
                <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
                <ul class="dropdown-menu" style="margin-left: 10px;">
                    <li><a href="{{ url_for('main.feed') }}">Feed</a></li>
                    <li><a href="{{ url_for('article.my_articles', article_action='show') }}">Article
                                management</a></li>
                    <li><a href="{{ url_for('profile.comments', username=current_user.username) }}">Comments</a></li>
                    <li><a href="{{ url_for('profile.bookmarks', username=current_user.username) }}">Bookmarks</a></li>
                    <li><a href="{{ url_for('profile.following', username=profile.username) }}">Following</a></li>
                    <li><a href="{{ url_for('profile.profile_settings', username=profile.username) }}">Account
                                details</a></li>
                </ul>

            </div>
            <div class="col-md-1 col-sm-1 col-xs-1 text-center">
                <a href="{{ url_for('article.new_article', author_type='individual', name=profile.name, username=profile.username) }}"
                   class="fa fa-pencil"></a>
            </div>
        </div>

        <div class="row">
            <div class="search-item row">
                <div class="row">
                    <div class="col-md-2 col-md-offset-1">
                        <h3 class="administration-title">Following</h3>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1">
                        <span class="org-following">Organizations({{ profile.org_following|length }})</span>
                    </div>
                </div>

                <div class="row follow-list">
                    <div class="col-md-1 col-md-offset-1 col-sm-1 col-xs-1">
                        <img src="{{ url_for('static', filename='img/prof3.png') }}"
                             class="img-circle search-img-item">
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        {#                        <a href="{{ url_for ('organization.feed', organization_slug=org) }}"><span#}
                        {#                                class="search-result-title">{{ get_org_name_by_username(org)['name'] }}</span></a>#}
                    </div>
                    <div class="col-md-2">
                        <a class="administrator-button">Administrator</a>
                    </div>
                    {% if current_user.has_role('editor') or current_user.has_role('member') %}
                        <div class="col-md-2">
                            <a class="leave-org-button">Leave Org.</a>
                        </div>
                    {% endif %}
                </div>
                {% for org in profile.org_following %}
                    <div class="row follow-list">
                        <div class="col-md-1 col-md-offset-1 col-sm-1 col-xs-1">
                            <img src="{{ url_for('static', filename= get_avatar_url(org)) }}"
                                 class="img-circle search-img-item">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="{{ url_for ('organization.feed', organization_slug=org) }}"><span
                                    class="search-result-title">{{ get_org_name_by_username(org)['name'] }}</span></a>
                        </div>
                        <div class="col-md-2 col-md-offset-2">
                            <a class="unfollow"
                               href="{{ url_for('profile.unfollow_organization', organization_slug=org) }}">Unfollow</a>
                        </div>
                    </div>
                {% endfor %}
            <br/><br/>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-11 col-xs-offset-1">
                        <span class="people-following">People({{ profile.people_following|length }})</span>
                    </div>
                </div>
            <br/><br/>
                <div class="col-md-10 col-md-offset-1">
                    <div id="test-list">
                        <ul class="list">
                            {% for user in profile.people_following %}
                                <li>
                                    <div class="row follow-people-list">
                                        <div class="col-md-1 col-sm-1 col-xs-1">
                                            <img src="{{ url_for('static', filename=user_avatar(user))}}"
                                                 class="img-circle search-img-item">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <a href="{{ url_for('profile.feed', username=user) }}"><h4
                                                    class="search-result-follow">{{ get_user_name_last_name_by_username(user)['name'] }}, {{ get_user_name_last_name_by_username(user)['lastname'] }}</h4></a>
                                        </div>
                                        <div class="col-md-2 col-md-offset-2">
                                            <a class="unfollow"
                                               href="{{ url_for('profile.unfollow_people', username=user) }}">Unfollow</a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                          <div class="row">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <ul class="pagination"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/list.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/list.pagination.min.js') }}"></script>
    <script type="text/javascript">


        $(document).ready(function () {
            var monkeyList = new List('test-list', {
                valueNames: ['name'],
                page: 10,
                plugins: [ListPagination({})]
            });
            $('.unfollow').click(function (event) {
                event.preventDefault();
                var url = this.href;
                swal({
                            title: "Are you sure?",
                            text: "You will not have this contact on your following list!",
                            type: "warning",
                            showCancelButton: true,
                            confirmButtonText: "Yes",
                            confirmButtonColor: "#DD6B55",
                            cancelButtonText: "Cancel",
                            closeOnConfirm: false,
                            closeOnCancel: false
                        },

                        function (isConfirm) {
                            if (isConfirm) {
                                swal({
                                    title: '',
                                    text: 'Article is successfully deleted!',
                                    type: 'success'
                                }, function () {
                                    window.location = url;

                                });


                            } else {
                                swal("Cancelled", "You did not unfollow this user :)", "error");
                            }
                        });
            });
        });


    </script>
{% endblock body %}